.product{
  background-color: whitesmoke;
  display: inline-block;
  margin: 100px 20px 30px 200px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}
body {
  background-color: lightyellow;
}