.product{
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    background-color: antiquewhite;

}
*{
  background-color:cadetblue;
}